@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}
body {
    background-color: #ffffffa0;
    width: 90%;
    padding-bottom: 0px;
    margin: auto;
    align-items: center;
    margin-top: 50px;
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(83, 88, 105, 0.219)),url("u13.jpg");
    background-size: cover; 
    background-position: center;
}
h2 {
    margin: 10px 0px;
    text-align: center;
    text-decoration: underline;
    color: brown;
    font-size: 24px;
}

li{
    color: #ffffff;
}

b{
    color: yellow;
}
p{
    color: #ffffff;
}

h2{
    color: #ffffff;
}

#title{
    color: #ffffff;
}
.full{
    
    height:450px;
    width: 600px;
    margin-left: 17%;
    border-radius: 20px;
}
.upper {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    /* border: 1px solid black; */
    padding: 10px 20px;
    background-size: cover; 
    background-position: center;
    /* border-radius: 25px; */
    /* padding: 10px; */
    background-color: transparent;
    text-align: center;
    height:110px;
    width: 360px;
    margin-top: 50px;
    margin-left: 16%;
}
ul {
    list-style: none;
}
#rules ul{
    font-weight: bold;
}
ul li {
    font-size: 14px;
}
#guessValue {
    font-size: 15px;
    height: 24px;
    padding: 2px 20px;
    border-radius: 10px;
    /* margin-left: 148px; */
}
#hint{
    margin: 5px 0px;
    margin-left: 14px;
}
/* .btn {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 2px 8px;
    margin: 2px 5px;
} */

#game{
    align-items: center;
    text-align: center;
    margin-left: 20%;
}

.btn1 {
    padding-right: 90px;
}

.btn {
    display: block;
    margin: auto; /* This will center the button horizontally */
    margin-top: 20px; /* Adjust this value to control the vertical spacing */
    padding: 5px 11px;
    background-color: #0d0042;
    color: #fff;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.game {
    text-align: center; /* Center align the content inside the game div */
}
#counter {
    color: rgb(255, 180, 4);
}
